@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@700&display=swap");

/*Variables*/
$main-background: hsl(268, 75%, 9%);
$screen-background: hsl(268, 71%, 12%);
$keypad-background: hsl(268, 71%, 12%);
$key-background-1: hsl(268, 47%, 21%);
$key-background-2: hsl(281, 89%, 26%);
$key-background-3: hsl(176, 100%, 44%);
$key-shadow-1: hsl(290, 70%, 36%);
$key-shadow-2: hsl(285, 91%, 52%);
$key-shadow-3: hsl(177, 92%, 70%);
$key-color-1: hsl(52, 100%, 62%);
$key-color-2: hsl(0, 0, 100%);
$key-color-3: hsl(198, 20%, 13%);
$border-radius: 5px;
$transition: transform 0.3s ease-in-out;


* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: $main-background;
  color: $key-color-2;
  font-family: "Spartan";
  font-weight: 700;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}



.toggle-btn {
  cursor: pointer;
  width: 25px;
  height: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: absolute;
  left: 20px;
  top: 20px;
  background-color: transparent;
  border: none;
  outline: none;
  transition: $transition;

  span {
    width: 100%;
    height: 3px;
    background-color: $key-background-3;
  }

}

.sidebar {
  width: 300px;
  height: 100vh;
  background-color: $keypad-background;
  position: absolute;
  left: 0;
  top: 0;
  box-shadow: 2px 2px 5px $screen-background;
  transform: translateX(-100%);
  transition: $transition;
  padding: 20px 10px;
  text-align: right;
  z-index: 20;


  h2 {
    text-align: center;
    color: $key-background-1;
    margin-bottom: 20px;
  }

  .history-screen {
    font-size: 14px;
    color: $key-background-3;
  }

  .history-result {
    font-size: 20px;
    margin: 10px 0 20px;
    position: relative;

    &::before {
      content: "";
      width: 50%;
      height: 3px;
      background-color: $key-background-1;
      position: absolute;
      left: 50%;
      bottom: -10px;
      transform: translateX(-50%);
      z-index: 20;
    }
  }

  .clear {
    cursor: pointer;
    font-weight: bold;
    position: absolute;
    left: 50%;
    bottom: 20px;
    transform: translateX(-50%);
    padding: 10px;
    border-radius: $border-radius;
    background-color: $key-background-3;
    color: $key-background-1;
    border: none;

  }
}

.transform {
  transform: translateX(0px);
}

.transform2 {
  transform: translateX(300px);
}

.container {
  width: 400px;

  header {
    height: 30px;
    margin: 5px 0 20px;
    display: flex;
    justify-content: space-between;


    .theme {
      display: flex;
      flex-direction: row;
      font-size: 10px;
      font-weight: normal;
      text-transform: uppercase;

      span {
        align-self: flex-end;
        margin-right: 20px;
      }

      .toggle {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        position: relative;
        padding: 0 5px;

        &::after {
          content: "";
          width: 100%;
          height: 4px;
          background-color: $keypad-background;
          border-radius: 10px;
          padding: 6px 0px;
          position: absolute;
          bottom: 0px;
          left: -5px;
        }

        .radio {
          height: 100%;
          display: flex;
          flex-direction: column-reverse;
          justify-content: space-between;
          text-align: center;
          margin-right: 10px;

          label {
            position: relative;
            cursor: pointer;

            &::after {
              content: '';
              width: 10px;
              height: 10px;
              background-color: $key-background-3;
              border-radius: 50%;
              position: absolute;
              left: 50%;
              bottom: -15px;
              transform: translateX(-50%);
              z-index: 10;
              opacity: 0;
              transition: 0.5s;
            }
          }

          input {
            appearance: none;

            &:hover+label::after {
              opacity: 0.2;
            }

            &:checked+label::after {
              opacity: 1;
            }
          }

        }
      }
    }
  }

  .screen {
    background-color: $screen-background;
    height: 100px;
    padding: 0 30px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-size: 32px;
    border-radius: $border-radius;
    overflow: hidden;
    position: relative;

    .left-span,
    .right-span {
      font-size: 12px;
      position: absolute;

    }

    .left-span {
      top: 10px;
      left: 10px;
    }

    .right-span {
      top: 10px;
      right: 10px;
    }
  }

  .entries {
    background-color: $keypad-background;
    padding: 20px;
    margin-top: 20px;
    border-radius: $border-radius;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-gap: 20px;

    .btn {
      cursor: pointer;
      height: 45px;
      font-weight: 700;
      font-size: 24px;
      text-transform: uppercase;
      background-color: $key-background-1;
      color: $key-color-1;
      border-radius: $border-radius;
      border: none;
      box-shadow: 0px 3px $key-shadow-1;

      &:nth-last-of-type(2) {
        grid-column: 1 / span 2;
      }

      &:last-of-type {
        grid-column: 3 / span 2;
      }

      &:active {
        background-color: $key-shadow-1;
      }
    }

    .custom-1 {
      background-color: $key-background-2;
      color: $key-color-2;
      box-shadow: 0px 3px $key-shadow-2;

      &:active {
        background-color: $key-shadow-2;
      }
    }

    .custom-2 {
      background-color: $key-background-3;
      color: $key-color-2;
      box-shadow: 0px 3px $key-shadow-3;

      &:active {
        background-color: $key-shadow-3;
      }
    }

    /*order*/
    :nth-child(1) {
      order: 9;
    }

    :nth-child(2) {
      order: 10;
    }

    :nth-child(3) {
      order: 11;
    }

    :nth-child(4) {
      order: 5;
    }

    :nth-child(5) {
      order: 6;
    }

    :nth-child(6) {
      order: 7;
    }

    :nth-child(7) {
      order: 1;
    }

    :nth-child(8) {
      order: 2;
    }

    :nth-child(9) {
      order: 3;
    }

    :nth-child(10) {
      order: 14;
    }

    :nth-child(11) {
      order: 4;
    }

    :nth-child(12) {
      order: 8;
    }

    :nth-child(13) {
      order: 12;
    }

    :nth-child(14) {
      order: 16;
      text-transform: lowercase;
    }

    :nth-child(15) {
      order: 15;
    }

    :nth-child(16) {
      order: 13;
    }

    :nth-child(17) {
      order: 17;
    }

    :nth-child(18) {
      order: 18;
    }
  }
}

@media (max-width: 750px) {
  .sidebar {
    width: 200px;
  }

  .transform2 {
    transform: translateX(200px);
  }

  .container {
    width: 300px;

    .screen {
      font-size: 26px;
    }

    .entries {
      .btn {
        font-size: 18px;
      }
    }
  }
}